@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen50{
    height: 50vh;
}

.root-text {
    font-size: 1rem;
}

.dm-serif {
    font-family: 'DM Serif Display', serif;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

.d-header {
    --tw-bg-opacity: 0.8;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.dark .d-header {
    --tw-bg-opacity: 0.8;
    background-color: rgba(0,30,38,var(--tw-bg-opacity));
}

.d-menu {
    --tw-bg-opacity: 0.7;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.dark .d-menu {
    --tw-bg-opacity: 0.85;
    background-color: rgba(0,30,38,var(--tw-bg-opacity));
}

.d-body-bg {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.dark .d-body-bg {
    --tw-bg-opacity: 1;
    background-color: rgba(0,30,38,var(--tw-bg-opacity));
}

.d-body-text-color {
    --tw-text-opacity: 1;
    color: rgba(0,53,67,var(--tw-text-opacity));
}

.dark .d-body-text-color {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}

.d-scrollbar {
    --scrollbar-thumb: #e4e4e7;
}

.dark .d-scrollbar {
    --scrollbar-thumb: #255461;
}

.dark .cookie-consent {
    background-color: white;
    border-top: 1px #003543 solid;
}

.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
    background-color: #003543;
    border-top: 1px white solid;
    display: flex;
}

.h-80 {
    height: 80vh;
}

.heading {
    @apply text-site dark:text-white text-2xl md:text-4xl font-semibold;
}

.subheading {
    @apply text-site dark:text-white text-xl md:text-2xl font-semibold pt-8;
}

.subsubheading {
    @apply text-site dark:text-white text-lg md:text-xl font-semibold pt-8;
}

.paragraph {
    @apply text-siteLite dark:text-gray-50 text-base md:text-lg pt-2;
}

.file {
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    @apply bg-codeLite dark:bg-siteLite px-2 py-1 rounded-md text-siteLite dark:text-gray-50 text-sm md:text-base mt-4 inline-block;
}

.output {
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    @apply bg-codeLite dark:bg-siteLite px-2 py-1 rounded-md text-siteLite dark:text-gray-50 text-sm md:text-base mt-4 inline-block;
}

.light pre[class*="language-"] {
    background-color: #fbfbfd;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    @apply text-base md:text-lg;
}

.dark pre[class*="language-"] {
    background-color: #003543;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    @apply text-base md:text-lg;
}
